apiVersion: apps/v1
kind: Deployment
metadata:
  name: php-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: php-backend
  template:
    metadata:
      labels:
        app: php-backend
    spec:
      containers:
      - name: php-backend
        image: prj1-backend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
          name: php-backend

